// Styles lol

/*
.emoji {
    width: 1em;
    height: 1em;
    display: inline-block;
    margin-bottom: 0.25em;
}
*/

/* ======================
  Variables & Mixins
====================== */

//colours
$black: #111;
$white: #f1f1f1;
$red:#e51c23;
$blue:#1a237e;
$green:#259b24;
$grey:#bdbdbd;
$greyLight:#eee;
$highlight:$red;

//fonts
$bodyFont: 'Open Sans'; // body text
$headingFont: 'Montserrat'; // headings and any text that requires attention or needs to stand out
$monospaceFont: 'Source Code Pro';

// breakpoints
$iphoneLandscape: 568px;
$ipadPortrait: 768px;
$ipadLandscape: 1024px;
$desktop: 1200px;

//easings

$linear: linear;
$easeIn: ease-in;
$easeOut: ease-out;
$easeInOut: ease-in-out;

$easeInSine:    cubic-bezier(0.47, 0, 0.745, 0.715);
$easeOutSine:   cubic-bezier(0.39, 0.575, 0.565, 1);
$easeInOutSine: cubic-bezier(0.445, 0.05, 0.55, 0.95);

$easeInQuad:    cubic-bezier(0.55, 0.085, 0.68, 0.53);
$easeOutQuad:   cubic-bezier(0.25, 0.46, 0.45, 0.94);
$easeInOutQuad: cubic-bezier(0.455, 0.03, 0.515, 0.955);

$easeInCubic:    cubic-bezier(0.55, 0.055, 0.675, 0.19);
$easeOutCubic:   cubic-bezier(0.215, 0.61, 0.355, 1);
$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1);

$easeInQuart:    cubic-bezier(0.895, 0.03, 0.685, 0.22);
$easeOutQuart:   cubic-bezier(0.165, 0.84, 0.44, 1);
$easeInOutQuart: cubic-bezier(0.77, 0, 0.175, 1);

$easeInQuint:    cubic-bezier(0.755, 0.05, 0.855, 0.06);
$easeOutQuint:   cubic-bezier(0.23, 1, 0.32, 1);
$easeInOutQuint: cubic-bezier(0.86, 0, 0.07, 1);

$easeInExpo:    cubic-bezier(0.95, 0.05, 0.795, 0.035);
$easeOutExpo:   cubic-bezier(0.19, 1, 0.22, 1);
$easeInOutExpo: cubic-bezier(1, 0, 0, 1);

$easeInCirc:    cubic-bezier(0.6, 0.04, 0.98, 0.335);
$easeOutCirc:   cubic-bezier(0.075, 0.82, 0.165, 1);
$easeInOutCirc: cubic-bezier(0.785, 0.135, 0.15, 0.86);

$easeInBack:    cubic-bezier(0.6, -0.28, 0.735, 0.045);
$easeOutBack:   cubic-bezier(0.175, 0.885, 0.32, 1.275);

@mixin transition($arguments) {
    -webkit-transition: $arguments;
    -moz-transition: $arguments;
    -ms-transition: $arguments;
    -o-transition: $arguments;
    transition: $arguments;
}


/* ==============
  Typography
============== */


body {
  font-family: $bodyFont;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   font-smoothing: antialiased;
  font-size: 100%;
  font-weight: 400;
}

body, caption, th, td, input, textarea, select, option, legend, fieldset, h1, h2, h3, h4, h5, h6 {
  font-size-adjust: 0.5;
}



h1 {
  font-size: 2em;
  /* 2x body copy size = 32px */
  line-height: 1.25;
  /* 45px / 36px */
}

@media (min-width: 43.75em) {
  h1 {
    font-size: 2.5em;
    /* 2.5x body copy size = 40px */
    line-height: 1.125;
  }
}

@media (min-width: 56.25em) {
  h1 {
    font-size: 3em;
    /* 3x body copy size = 48px */
    line-height: 1.05;
    /* keep to a multiple of the 20px line height and something more appropriate for display headings */
  }
}

h2 {
  font-size: 1.625em;
  /* 1.625x body copy size = 26px */
  line-height: 1.15384615;
  /* 30px / 26px */
}

@media (min-width: 43.75em) {
  h2 {
    font-size: 2em;
    /* 2x body copy size = 32px */
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  h2 {
    font-size: 2.25em;
    /* 2.25x body copy size = 36px */
    line-height: 1.25;
  }
}

h3 {
  font-size: 1.375em;
  /* 1.375x body copy size = 22px */
  line-height: 1.13636364;
  /* 25px / 22px */
}

@media (min-width: 43.75em) {
  h3 {
    font-size: 1.5em;
    /* 1.5x body copy size = 24px */
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  h3 {
    font-size: 1.75em;
    /* 1.75x body copy size = 28px */
    line-height: 1.25;
  }
}

h4 {
  font-size: 1.125em;
  /* 1.125x body copy size = 18px */
  line-height: 1.11111111;
}

@media (min-width: 43.75em) {
  h4 {
    line-height: 1.22222222;
    /* (22px / 18px */
  }
}

blockquote {
  font-size: 1.25em;
  /* 20px / 16px */
  line-height: 1.25;
  /* 25px / 20px */
}

@media (min-width: 43.75em) {
  blockquote {
    font-size: 1.5em;
    /* 24px / 16px = */
    line-height: 1.45833333;
    /* 35px / 24px */
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headingFont;
}

/* ==================
  General Layout
================== */

* {
  box-sizing:border-box;
}

body {
  color: $black;
  background-color: $white;
  line-height: 1.618; 
}

//lol

/*keepmearound*/

a {
  color:$highlight;
  text-decoration: none;
  border-bottom: 1px solid $white;
  @include transition(all .3s $easeInOutCubic );

  &:hover {
    border-bottom: 1px solid $highlight;
  }
}



/* ===============
  Default.hbs
=============== */

aside {
  padding: 1vw;
  border-bottom: 1px solid $grey;
  background-color: $white;

  .blog-logo {

    img {
      max-width: 150px;
      padding:10px;
      display: block;
      margin: 0 auto;
      border-radius:150px;
    }
  }

  .blog-title {
    text-align: center;

    a {
      color: $black;
        border:0;

      &:hover {
        border:0;
      }
    }

  }

  .blog-description {
    text-align: center;
  }

  .social-media {
    text-align: center;
    font-size:2em;

    a {
      background-color: $grey;
      padding: .1em;
      color:$white;
      border-radius: 5px;

      &:hover {
        border-bottom: 0;

      &[href*="twitter"] {
        background-color:#55acee;
      }

      &[href*="instagram"] {
        background-color:#3f729b;
      }

      &[href*="facebook"] {
        background-color:#3b5998;
      }

      &[href*="github"] {
        background-color:#999;
      }

      &[href*="codepen"] {
        background-color:#66ce5b;
      }

      &[href*="/feed"] {
        background-color:#f26522;
      }

      &[href*="mailto"] {
        background-color:#f26522;
      }
      }
    }

  }

  .links {
    list-style: none;
    text-align: center;
    padding-left: 0;

    a {
      text-decoration: none;
      font-size: 1.25em;
      font-family: $headingFont;
      text-transform: uppercase;
      color:$highlight;
    }

  }
}



/* =============
  Index.hbs
============= */

.post-list {
  margin: 0 5vw 5vw 5vw;
  .post-link {
      margin-top:1em;
      padding-bottom: 1em;
      border-bottom: 1px solid $grey;
    span {
      font-size: .7em;
    }
    a {
      border-width:3px;
    }

    .tags {
      a {
        display: inline-block;
        text-decoration: none;
        background-color: $grey;
        color:$white;
        padding: .2em;
        border-radius: .3em;
        @include transition(.2s $easeInOutCubic all);

        &:hover {
          background-color: darken($grey, 20%);
          border:0;
        }
      }

    }
  }
}

.pagination {
  text-align: center;
  font-family: $headingFont;
  text-transform: uppercase;

  a {

    &:hover {
      text-decoration: underline;
    }

  }
}
/* ============
  Post.hbs
============ */


.post-content {
  .post-header {
    padding:0 10%;
    h2 {
      margin-bottom: 0;
        font-size: 1em;
      span {
        text-align: right;
        display: block;
        margin-bottom: .5em;
      }
      .date {

      }
      
      .middot {
        display: none;
      }

      .tags {
        a {
          text-decoration: none;
          background-color: $grey;
          color:$white;
          padding: .2em;
          border-radius: .3em;
          @include transition(.2s $easeInOutCubic all);

          &:hover {
            background-color: darken($grey, 20%);
          border:0;
          }
        }
      }
    }

    .title {
      text-align: center;
      margin-top: 0;

    }
  }

  .post-footer {
      margin: 0 auto;    
    padding:0 10%;
    max-width: 53em;
  }

  .content {
    max-width: 53em;
    padding:0 10%;
    margin: 0 auto;

    img {
      width: 125%;
      margin-left: -12.5%
   ; }

    a {
        border-bottom: 1px solid $white;
        @include transition(border-color .3s $easeInOutCubic );

      &:hover {
        border-bottom: 1px solid $highlight;
      }

    }

    strong {
      font-weight: 700;
      
    }

    code {
      font-family: $monospaceFont;
      font-weight: 400;
      position: relative;

      &:not(.syntax) {
        color: #999;
      } 
    }

    blockquote {
      max-width: 100%;
      position: relative;
      display: block;
      font-size: 1.5em;
      padding:1em;
      text-align: center;
      font-family: $headingFont;
      font-style: italic;
      text-transform: uppercase;
      margin: 0 auto;

      &:before {
        content:'';
        position: absolute;
        width: 50%;
        height:1px;
        margin: 0 auto;
        background-color: $grey;
        left: 0;
        right: 0;
        top: 0;
      }

      &:after {
        content:'';
        position: absolute;
        width: 50%;
        height:1px;
        margin: 0 auto;
        background-color: $grey;
        left: 0;
        right: 0;
        bottom: 0;
      }

      p {
        margin: 0;
        padding: 0;
        max-width: 100%;
      }

      cite {
        display: block;
        font-size: .75em;

        &:before {
          content:'\2014';

        }
      }
    }
  }
}

@media all and (min-width:$iphoneLandscape) {

}

@media all and (min-width:$ipadPortrait) {

  .post-content {
    .content {
    }
  }
  
}

@media all and (min-width:$ipadLandscape) {

  aside {
    width:40vw;
    height: 100%;
    border-bottom: 0;
    position: fixed;
    top: 0;
    left: 0;

  }

  .post-list, .post-content {
    width:58vw;
    margin-left: 40vw;
  }

  .post-link {
    padding: 1vw;
  }

  .post-content {

    .content {
    blockquote {
      font-size: 1.25em;
    }

    }
  }
  
}

@media all and (min-width:$desktop) {

  aside {
    width:30vw;

  }

  .post-list, .post-content {
    width:68vw;
    margin-left: 30vw;
  }
  
}
.external .link {
  display: none;
}